[submodule "awboot"]
	path = awboot
	url = https://github.com/Rezvano/awboot
[submodule "xfel"]
	path = xfel
	url = https://github.com/Rezvano/xfel
[submodule "linux"]
	path = linux
	url = https://github.com/torvalds/linux
