[submodule "awboot"]
	path = awboot
	url = https://github.com/szemzoa/awboot
	branch = next
[submodule "xfel"]
	path = xfel
	url = https://github.com/xboot/xfel
[submodule "linux"]
	path = linux
	url = https://github.com/torvalds/linux
